/* .container .card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
} */
 .card-img-top{
    object-fit: cover;
    height: 200px;
 }
 .card{
    margin: 20px;

 }

